
*{
    box-sizing: border-box;
}

body {background-color: rgb(55, 214, 214);
font-family: sans-serif; }

.contenedor01
{
    width: 90%;
    padding:20px ;
    background-color: salmon;
    border: solid 2px black;
    margin: auto;
    
}


@media (min-width:570px )
{
    .contenedor01
    {    
    background-color: yellowgreen;
    border: solid 2px black;  
    
    }
}



